body {
  margin: 0;
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  background-color: rgb(198, 125, 198);
  color: #fff;
  text-align: center;
}

h1{
  font-size: 30px;
}

p{
  margin: 0;
}

header {
  width:100%;
  padding: 15px;
  background-color: #D8D8BF;
  color: rgb(169, 78, 169);
  font-size: 30px;
}

.controls {
  width: 320px;
  border-radius: 10px;
  background-color: rgb(169, 78, 169);
  margin: 10px auto 0 auto;
  padding: 20px;
}

.controls button {
  width: 150px;
  height: 56px;
  margin: 4px 3px;
  padding: 20px 36px;
  background-color: #D8D8BF;
  border: 0px;
  border-radius: .25rem;
}
